.inner-main {
    /* max-width: 1200px; */
    margin: auto;
    display: flex;
}
.logo {
    width: 30%;
    margin: auto;
}
li.end-contact {
    margin-right: 0px !important;
}
.menus {
    width: 70%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 15px;
}
.menus ul {
    display: flex;
}
.menus ul li {
    list-style: none;
    margin-right: 35px;
}
.menus ul li a {
    text-decoration: none;
    padding: 10px 15px;
    background: #b4afaf;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    line-height: 28px;
}
.menus ul li a.active {
    color: #4c0606;
}
.logo h2 {
    font-size: 30px;
    line-height: 42px;
}
span.logo-first {
    color: #55aa4691;
}
.main {
    padding: 20px 0px;
    background: #debfbf42;
}







.inner-col {
    /* max-width: 1200px; */
    width: 100%;
    margin: auto;
    display: flex;
    gap: 30px;
    padding: 60px 0px;
}
.nav-item a {
    font-size: 18px;
    font-weight: 600;
}
.image-home {
    width: 50%;
}
.content-home {
    width: 50%;
    margin: auto;
}
.image-home img {
    width: 100%;
}
.inner-content p {
    font-size: 18px;
    line-height: 28px;
    color: black;
    font-weight: 400;
}
.inner-content p:before {
    content: "";
    width: 110px;
    display: block;
    height: 9px;
    background: red;
    margin-bottom: 20px;
    background-color: transparent;
    background-image: linear-gradient(90deg, #C0181C 40%, #FFFFFF 100%);
}

button.btn {
    padding: 12px 40px;
    text-decoration: none;
    background: #222222;
    border-radius: 30px;
    color: white;
}
button.btn:hover {
    color: white;
}

.btn a {
    color: white;
    text-decoration: none;
}

.content-about {
    width: 60%;
}
.image-about {
    width: 40%;
}
/* .content-about {
    margin: auto;
    border: 1px solid black;
    padding: 50px;
} */
.content-about {
    margin: auto 0px auto auto;
    /* border: 1px solid black; */
    padding: 50px;
    margin-left: -80px;
    box-shadow: 0px 10px 40px 0px #00000042;
}

.image-about img {
    width: 100%;
}
.inner-about {
    max-width: 1300px;
  
}




@media only screen and (max-width: 600px) {
    .inner-home {
        display: block;
    }
    .content-home {
        margin: 0px;
        width: 100%;
    }
    
    .inner-home {
        padding-right: 15px;
        padding-left: 15px;
    }
    .image-home {
        width: 100%;
        padding-top: 30px;
    }
  }